In [1]:
import sqlite3

In [2]:
##Connect to sql-lite db and create db
connection=sqlite3.connect("example.db")
connection

In [7]:
## Cursor to execute commands
cursor=connection.cursor()
cursor.execute('''create table if not exists employees(
    id integer primary key,
    name text not null,
    age Integer,
    department text
  )''');
### cmmit
connection.commit()

In [16]:
## Insert the data into sqlite 3
cursor.execute('''
    insert into employees(name,age,department) values('Rushi',25,'SWE')
  ''');
cursor.execute('''
    insert into employees(name,age,department) values('akash',26,'SDE')
  ''');
cursor.execute('''
    insert into employees(name,age,department) values('neha',30,'SDET')
  ''');

connection.commit()

In [20]:
cursor.execute('''
    select * from employees
  ''');
rows=cursor.fetchall()
for row in rows:
  print(row)

(1, 'Rushi', 25, 'SWE')
(2, 'Rushi', 25, 'SWE')
(3, 'akash', 26, 'SDE')
(4, 'neha', 30, 'SDET')
(5, 'Rushi', 25, 'SWE')
(6, 'akash', 26, 'SDE')
(7, 'neha', 30, 'SDET')